:root {
	/* COLORS */
	--white: #e9e9e9;
	--gray: #333;
	--blue: #0367a6;
	--lightblue: #008997;

	/* RADII */
	--button-radius: 0.7rem;

	/* SIZES */
	/* --max-width: 758px; */
	--max-width:1000px;
	--max-height: 520px;
	/* --max-height: 420px; */

	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	align-items: center;
	background-color: #ffffff;
	background: url("https://images.pexels.com/photos/3865912/pexels-photo-3865912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	margin-top: 140px;
	place-items: center;
}

.form__title {
	font-weight: 300;
	margin: 0;
	margin-bottom: 1.25rem;
}

.link {
	color: var(--gray);
	font-size: 0.9rem;
	margin: 1.5rem 0;
	text-decoration: none;
}

.container {
	background-color: var(--white);
	border-radius: var(--button-radius);
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: var(--max-height);
	max-width: var(--max-width);
	overflow: hidden;
	position: relative;
	width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container__form {
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.6s ease-in-out;
}

.container--signin {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .container--signin {
	transform: translateX(100%);
}

.container--signup {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 1;
}

.container.right-panel-active .container--signup {
	-webkit-animation: show 0.6s;
	animation: show 0.6s;
	opacity: 1;
	transform: translateX(100%);
	z-index: 5;
}

.container__overlay {
	height: 100%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: transform 0.6s ease-in-out;
	width: 50%;
	z-index: 100;
}

.container.right-panel-active .container__overlay {
	transform: translateX(-100%);
}

.overlay {
	background-color: var(--lightblue);
	background: url("https://images.pexels.com/photos/3865912/pexels-photo-3865912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: -100%;
	position: relative;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 200%;
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay__panel {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: absolute;
	text-align: center;
	top: 0;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 50%;
}

.overlay--left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay--left {
	transform: translateX(0);
}

.overlay--right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay--right {
	transform: translateX(20%);
}

.btn {
	background-color: var(--blue);
	background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
	border-radius: 20px;
	border: 1px solid var(--blue);
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form>.btn {
	margin-top: 1.5rem;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.form {
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	height: 100%;
	text-align: center;
}

.input {
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
    border-radius: 2px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@-webkit-keyframes show {

	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

@keyframes show {

	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}
   
  /* side bar css */

  #sidebar ul{
	text-decoration: none;
}
#sidebar li{
	text-decoration: none;
}
#sidebar a{
	text-decoration: none;
}
#sidebar li img{
	width: 100%;
}

  .fa{
    color: #263238;
}
#sidebar{
    position: fixed;
    top:0;
	left: -60px;
    width: 310px;
    height: 100%;
    background:#546E7A;
    left: -310px;
    transition: .6s;
    z-index: 200;
}
#sidebar.inandout{
    left: 0;
}
#sidebar div{
    font-size: 22px;
    color: gray;
    text-align: left;
   
    line-height: 40px;
    user-select: none;
}
#sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgb(255,255,255,.1);
    transition: .9s;
}
ul li:hover{
    padding-left: 15px;
    transition: .4s;
}
#sidebar ul a i{
    margin-right: 30px;
}
.icolortoblack i{
  color: #263238;
}
.sliderbtn{
    position: absolute;
    z-index: 20;
    top: 0;
    right:-45px ;
    width: 45px;
    height: 35px;
    outline: none;
    border: none;
    transition: .4s;
}
.hamburger{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 3px ;
    background: #262626;
    
}
.hamburger::after{
    top: 12px;
    
}
.hamburger::before{
    top: -12px;
    
}
.hamburger::after,
.hamburger::before{
position: absolute;
content: "";
width: 30px;
height: 3px;
background: #262626;
left: 0;
transition: .6s;
z-index: 100;

}
.sliderbtn.active .hamburger{
   background: none;
}
.sliderbtn.active .hamburger::after{
   transform: rotate(-45deg);
   top: 0;
   
}
.sliderbtn.active .hamburger::before{
    transform: rotate(45deg);
    top: 0;
}


@media only screen and (max-width: 600px) {
  /* Add your CSS styles here */
  body {
    font-size: 14px;
  }
  #maincontainer{
    width: 97%;
    /* margin-left: 3%; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
  }
  .imgslider{
    width: 100%;
    height: auto;
  }
  #detailsdiv{
    width: 100%;
    margin-top: 0px;
    line-height: 2;
  }
  #searchdiv{
    display: none;
  }
  div.categories li{
    font-size: 4vw;
  }
  #topptag{
    display: none;
  }
}

/* footer responsive */
@media screen and (max-width: 570px) {

  #footersubcontainer div{
    display: block;
    margin-top: 10px;
  }

  #footerbase{
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  #footerbase > div:nth-child(1){
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  #footerbase > div:nth-child(1) .aboutus {
    margin-bottom: 20px;
  }

  #socilmedia{
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 570px) {
  #contact_container {
    flex-direction: column;
    padding: 10px;
  }

  #contact_container>div {
    margin-bottom: 20px;
  }
}